{% extends 'base.html.twig' %}

{% block title %}Hello Ropieur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Ropieur ! ✅</h1>

    Cette page ne donne pas accès à grand choses ... Peut-être souhaites-tu te rendre
    <ul>
        <li>Sur notre <code><a href="https://www.ropi.be">Site grand publique</a></code></li>
        <li>Sur le backend admin<code><a href="#"></a></code></li>
    </ul>
    Tu es développeur.se ? N'hésites pas à jetter un coup d'oeil à notre <code><a href="https://github.com/RopiMons">Github</a></code>
</div>
{% endblock %}
